html {
  font-family: 'Special Elite', cursive;
  background-color: #B18F6A;
}

li {
  list-style-type: none;
}

p {
  font-size: 25px;
  font-family: Kaushan Script, cursive;
}

li:hover {
  font-weight: bold;
  font-size: 20px;
}
img src{
    position: absolute;
    bottom: 0px;
    left: 0px;
}